# =========================
# DATOS Y MODELOS (NO SUBIR)
# =========================
/datos/
/datos/**

# =========================
# MODELOS ENTRENADOS
# =========================
*.pkl
*.joblib

# =========================
# SALIDAS Y RESULTADOS
# =========================
*.csv
*.xlsx

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# ENTORNOS
# =========================
.env
.venv
venv/
env/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db
